.$UML.drawio.bkp
*.o

# Binaires
bin/
test_enseignant
test_ue

# Fichiers temporaires
*.swp
*.swo
*~

# IDE
.vscode/*
!.vscode/c_cpp_properties.json
!.vscode/settings.json
!.vscode/README.md
.idea/
*.code-workspace

# Données (fichiers générés)
data/
